@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Playwrite+AU+VIC+Guides&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html{
    width: 100%;
    height: 100%;
    background: #c2c1c1;
    overflow-x: hidden;
}
#box-1{
    background-color: #F6F0E2;
   max-width: 80vw;
   min-height: 90vh;
   place-content: center;
   place-items: center;
    font-family: "Bebas Neue", sans-serif;
    position: relative;
    box-shadow: 2px 2px 20px #212121;
    margin-block: 20px;
    margin-inline: 20px;
}
#box-1 #heading{
    font-weight: 700;
    font-style: normal;
    font-size:4rem;
    margin-block: 10px;
    text-align: center;
    letter-spacing: 5px;
}
#year{
    align-items: center;
    /* font-weight: 200; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}
#year #line{
    width: 15vw;
    height: 1.5px;
    background-color: black;
}
.icon{
    display: flex;
    flex-direction: column;
    color: grey;
    /* width: 20%; */
    position: absolute;
    top: 30%;
    left: 30%;   
}
.icon1, .icon2, .icon-3, .icon-4{
    display: flex;
    flex-direction: row;
}

.icon i{
    margin-inline: 4px;
}
#box-2{
    flex-direction: row;
    background-color: #F6F0E2;
    max-width: 80vw ;
    min-height: 80vh;
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    box-shadow: 2px 2px 20px #212121;
    margin-block: 20px;
    justify-content: space-evenly;
    position: relative;
    margin-inline: 20px;
}

.container1{
    background-color: white;
    width: 20vw;
    height: 60vh;
    border-radius: 40px;
    display: flex;
    gap: 2px;
    padding-top:20px ;
    margin-inline: 30px;
    place-self: center;
    flex-direction: column;
    box-shadow: 5px 5px gray;
}
.buttons{
    display: flex;
    gap: 5px;
    margin-left: 20px;
    margin-bottom: 10px;

}
.image{
    background-image: url("https://images.unsplash.com/photo-1743746185924-7d4243114502?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: none;
    width: 15vw;
    height: 45vh;
    background-size: cover;
    
}
.red, .yellow, .green{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}

.container2{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
justify-content: center;
}
.container2 .about{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 3rem;
}
.intro{
    font-family:    Verdana, sans-serif;
    margin-block: 15px;
    font-weight: 300;
    max-width: 70%;
}
b{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}
.logo{
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    margin-top: 10px;
    margin-left: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.icon-2{
    color: grey;
    max-width: 20%;
    position: absolute;
    right: 15%;
    top: 30%;
}
.icon-2 i{
    margin-inline: 4px;
}
.icon-2 i:hover{
    color: #e1c78b;
}


/* strokes */

.stroke {
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: black;
    opacity: 0.9;
    /* border-radius: 20px; */
    filter: blur(1.5px);
    z-index: 1;
}

.stroke1 {
    top: 10%;
    right: 1%;
    transform: rotate(-30deg) scaleX(1.4);
}

.stroke2 {
    top: 10%;
    right: 1.5%;
    transform: rotate(-32deg) scaleX(0.8);
}

.stroke3 {
    top: 9.5%;
    right: 2%;
    transform: rotate(-36deg) scaleX(1.2);
}

.stroke4 {
    top: 20%;
    right: 1%;
    transform: rotate(-30deg) scaleX(1.4);
}

.stroke5 {
    top: 21%;
    right: 0%;
    transform: rotate(-32deg) scaleX(0.8);
}

.stroke6 {
    top: 21.2%;
    right: 1%;
    transform: rotate(-36deg) scaleX(1.2);
}

.stroke7 {
    top: 30%;
    right: 1%;
    transform: rotate(-30deg) scaleX(1.4);
}

.stroke8 {
    top: 30.6%;
    right: 0%;
    transform: rotate(-32deg) scaleX(0.8);
}

.stroke9 {
    top: 31%;
    right: 0%;
    transform: rotate(-36deg) scaleX(1.2);
}

.stroke10 {
    bottom: 10%;
    left: 1%;
    transform: rotate(-30deg) scaleX(1.4);
}

.stroke11 {
    bottom: 11%;
    left: 1.5%;
    transform: rotate(-32deg) scaleX(0.8);
}

.stroke12 {
    bottom: 10.8%;
    left: 0%;
    transform: rotate(-36deg) scaleX(1.2);
}

.stroke13 {
    bottom: 20%;
    left: 1%;
    transform: rotate(-30deg) scaleX(1.4);
}

.stroke14 {
    bottom: 21%;
    left: 0%;
    transform: rotate(-32deg) scaleX(0.8);
}

.stroke15 {
    bottom: 21.2%;
    left: 0%;
    transform: rotate(-36deg) scaleX(1.2);
}

.stroke16 {
    bottom: 30%;
    left: 1%;
    transform: rotate(-20deg) scaleX(1.4);
}

.stroke17 {
    bottom: 30.6%;
    left: 1%;
    transform: rotate(-30deg) scaleX(0.8);
}

.stroke18 {
    bottom: 31%;
    left: 0%;
    transform: rotate(-10deg) scaleX(1.2);
}

*::selection{
    background-color: burlywood;
    color: #fff;
}
body::-webkit-scrollbar{
    display: block;
    width: 8px;
    background-color: rgb(145, 128, 52);
}
body::-webkit-scrollbar-thumb{
    display: block;
    background-color: rgb(82, 56, 3);
    border-radius: 1vw;
    cursor: grab;
}
/* responsiveness */

@media(max-width:480px){
    #box-1{
        min-height: 50vh;
    }
    #box-1 #heading{
        font-size: 1.5rem;
    }
    #year{
        font-size: 8px;
    }
    .icon, .icon-3, .icon-4, i{
        font-size: 10px;
        margin-inline: 1px;
    }
    .icon{
        left: 5%;
    }
    .stroke{
        width: 20px;
    }
    #box-2{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
    .container2 .about{
        font-size: 1.5rem;
        text-align: center;
    }
    .intro{
        font-size: 10px;
        text-align: center;
    }
    .container2{
        place-items: center;
    }
    .icon-2{
        top:47% ;
        left: 45%;
        
    }
    b{
        font-size: 10px;
    }
    
    .container1{
       height: 35vh;  
       width: 45vw;
    }
    .image{
        width: 45vw;
        height: 27vh;
    }
    .logo{
        font-size: 12px;
        padding-bottom: 10px;
        flex-direction: column;
    }
}
@media(max-width: 768px){
    #box-2{
        flex-direction: column;
        text-align: center;
        padding-block: 20px;
        
    }
    .container2{
        align-items: center;
    }
    .logo{
        align-items: center;
    }
    .container1{
        width: 40vw;
        height: 65vh;
    }
    .image{
        width: 40vw;
        height: 50vh;
    }
    .icon-2{
        top: 55%;
    }
}