*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body, html{
    width: 100vw;
    height: 100vh;
    background-color:#01DE7C;
    place-items: center;
    justify-content: center;
    display: flex;
}
.container{
    background-color: #fff;
    width: 45vw;
    height: 80vh;
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    /* position: relative; */
}
.product{
    margin-top: 10px;
    padding: 30px;
    width: 40vw;
}
.product h2{
    color: rgb(39, 39, 39);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.product p{
    color: rgb(127, 127, 127);
    font-size: 10px;
    margin-bottom: 30px;
    font-weight: 500;
    opacity: 0.75;
}
.product big, small{
    color: Red;
    font-size: 40px;
    font-weight: 400;
}
.price{
    margin-bottom: 30px;
}
.product .apples{
    display: flex;
    gap: 10px;
    margin: 10px 0 20px 0;
}
.apples img:nth-child(1){
    border: 1px solid black;
}
.apples img{
    width: 2rem;
}
.product li{
    font-size: 12px;
    color: rgb(54, 52, 52);
}
.product button{
    background-color: rgb(236, 59, 59);
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    box-shadow: 2px 2px 10px grey;
    width: 60%;
    margin-top: 20px;
    height: 3rem;
}
.apples-image img{
    width: 2rem;
    border: 1px solid black;
}
.apples-image{
    display: flex;
    gap: 5px;
}
.image img{
    position: absolute;
    width:19rem;
    right: 3rem;
    bottom: 4rem;

}
.image{
    width: 20vw;
}
.card{
    width: 16rem;
    background:linear-gradient(#68930b, #cce585);
    border-radius: 10px;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    right: 4rem;
    box-shadow: 2px 2px 20px;
    top: 2rem;
}
.icon i{
    color: white;
}
.icon{
    display: flex;
    justify-content: space-between;
}